<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>

<title> mIPO </title>
<link rel = "shortcut icon" type = 'image/png' href = 'https://cdn2.iconfinder.com/data/icons/business-and-finance-3-7/128/134-512.png'>
</head>
<style>
body {
    text-align: center;
    background-color: coral;
}
form {
    display: inline-block;
}
div {

}
</style>

<body>
<h1> 
  Scouting a potential IPO? 
  You've come to the right place.
</h1>
<div>
<img src="https://cdn2.iconfinder.com/data/icons/business-and-finance-3-7/128/134-512.png" style="width:200px;height:200px;">
</div>

<br>

</br>

<form action="/data" method = "POST">
    <p>Company of interest <input type = "text" name = "Name" /></p>
    <p> Sector
    <input list="sectors" name="sector">
    <datalist id="sectors">
      <option value="Basic Industries">
      <option value="Capital Goods">
      <option value="Consumer Durables">
      <option value="Consumer Non-Durables">
      <option value="Consumer Services">
      <option value="Energy">
      <option value="Finance">
      <option value="Health Care">
      <option value="Miscellaneous">
      <option value="Public Utilities">
      <option value="Technology">
      <option value="Transporation">
    </datalist>
  </p>
    <p>Offering Price <input type = "number" name = "Price" /></p>
    <p>IPO Date <input type = "date" name = "Date" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>

</body>

